html {
  background-color: #fdf6e3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1{
  color: inherit;
  font-size: 1.5rem,
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #eee8d5;
}

p {
  background color: #fdf6e3;
}
