html {
  /* Everything in here will design the HTML element*/
  background-color: #fdf6e3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1{
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #eee8d5;
}

figcaption{
  font-size:
}
